@page "/"
@using Microsoft.AspNetCore.SignalR.Client
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime

<div id="map"></div>

@code {
    HubConnection hubConnection;
    string uri;

    protected override async Task OnInitializedAsync()
    {
        uri = NavigationManager.ToAbsoluteUri("/maphub").ToString();

        hubConnection = new HubConnectionBuilder()  
            .WithUrl(new Uri(uri))
            .Build();

        hubConnection.On<string, double, double>("OnReceiveLocation", 
            (name, latitude, longitude) =>
            {
                JSRuntime.InvokeVoidAsync("addPointToMap", 
                    name, 
                    latitude, 
                    longitude);

                StateHasChanged();
            });

        await hubConnection.StartAsync();

        await JSRuntime.InvokeVoidAsync("initMap");
    }

    public bool IsConnected => hubConnection.State == HubConnectionState.Connected;
}